<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="ksubtitleripper" version="2">
<MenuBar>
  <Menu name="subtitle"><text>S&amp;ubtitles</text>
	<Action name="prevSubtitle"/>
	<Action name="nextSubtitle"/>
    <Action name="saveSubtitle"/>
	<Action name="centerSubtitle"/>
	<Separator/>
	<Action name="extractSubtitle"/>
	<Action name="convertSubtitle"/>
	<Action name="createSRT"/>
  </Menu>
  <Menu name="settings">
    <Action name="enableCheckSpelling" append="save_merge"/>
  </Menu>
</MenuBar>
<ToolBar fullWidth="true" name="mainToolBar">
  <Action name="extractSubtitle"/>
  <Action name="convertSubtitle"/>
  <Action name="createSRT"/>
  <Separator/>
  <Action name="prevSubtitle"/>
  <Action name="nextSubtitle"/>
</ToolBar>
<State name="initial">
  <disable>
  	<Action name="file_save"/>
	<Action name="file_save_as"/>
	<Action name="saveSubtitle"/>
	<Action name="prevSubtitle"/>
	<Action name="nextSubtitle"/>
	<Action name="extractSubtitle"/>
	<Action name="convertSubtitle"/>
	<Action name="createSRT"/>
  </disable>
</State>
<State name="newProject">
  <enable>
  	<Action name="file_save"/>
	<Action name="file_save_as"/>
	<Action name="extractSubtitle"/>
  </enable>
  <disable>
	<Action name="saveSubtitle"/>
	<Action name="prevSubtitle"/>
	<Action name="nextSubtitle"/>
	<Action name="convertSubtitle"/>
	<Action name="createSRT"/>
  </disable>
</State>
</kpartgui>
